/* Write your CSS here */
.suggestion-item{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    list-style-type: none;
}
.suggestion-text{
    color:  #475569;
    font-family: "Roboto";
    font-size: 16px;
    
}
@media screen and (min-width: 768px){
    .suggestion-text{
        font-size: 25px;
    }
}
.arrow-button{
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}
.arrow{
    height: 15px;
    width:25px
}
@media screen and (min-width: 768px){
    .arrow{
        height: 25px;
        width: 25px;
    }
}